
                        <!-- Breadcrumbs -->
                                <div class="row">
                                        <div class="col-xs-12 breadcrumbs">
                                                <ul>
                                                        <li>
                                                                <span class="glyphicon glyphicon-play triangle"></span>
                                                                <a href="index.html">Главная</a>
                                                        </li>
                                                        <li><span>-</span></li>
                                                        <li>
                                                                <a href="#">Оформление заказа</a>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-order">
                                <span>Оформить заказ<span>
                                </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper-container " style="min-height: 200px;">
                <p id="catalog-prod" style="margin-top: 10px; margin-left: 10px;">Заказ успешно оформлен.</p>
                <p>Через несколько секунд вы будете перенаправлены на главную страницу</p>
        </div>
        <script>
                $(document).ready(function(){
                        setTimeout('window.location.href="/"', 5000);
                });
        </script>

