<!-- Second ROW -->
<div class="container shop-container">
  <div class="row">


    <!-- Sidebar -->

    <!-- Sidebar END -->


    <!-- Shop content -->
    <div class="col-xs-12">

      <!-- Breadcrumbs -->
      <div class="row">
        <div class="col-xs-12 breadcrumbs">
          <ul>
            <li>
              <span class="glyphicon glyphicon-play triangle"></span>
              <a href="/">Главная</a>
            </li>
            <li><span>-</span></li>
            <li>
              <a href="/hardware">Оборудование</a>
            </li>
            <li><span>-</span></li>
            <li>
              <a href="#"><%= @item_info.name%></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-item">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-item"><%= @item_info.name %></div>
        <!--<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 compare"><span><a href="#">сравнить</a></span></div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 compare-item">Товаров к сравнению: <span><a href="#">2</a></span></div>-->
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-wrapper-container ">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="img-item">
            <a class="fancybox" rel="group" href="<%= @item_info.image.url(:original) %>">
              <img src="<%= @item_info.image.url(:inner) %>" class="img-responsive" alt="">
            </a>
            <% if @item_info.image2_file_name %>
                <a class="fancybox" rel="group" href="<%= @item_info.image2.url(:original) %>"></a>
            <% end %>
            <% if @item_info.image3_file_name %>
                <a class="fancybox" rel="group" href="<%= @item_info.image3.url(:original) %>"></a>
            <% end %>
            <% if @item_info.image4_file_name %>
                <a class="fancybox" rel="group" href="<%= @item_info.image4.url(:original) %>"></a>
            <% end %>
          </div>
          <div class="item-info">
            <div class="item-price">
              <p>Цена: <span><%= @item_info.price %></span> руб</p>
            </div>

            <div class="class-buy-button" style="float: left; margin-left: 65px;">
              <% if @item_info.count_items != 0 %>
                  <button class="buy-button2 add-to-cart" data-id="<%= @item_info.id %>" data-type="Complect"></button>
              <% else %>
                  <button type="button" class="fast-order-item" data-toggle="modal" data-target="#fastOrderModal"></button>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 characters">
          <h3>Эксплуатационные характеристики</h3>
          <%= @item_info.description_full.html_safe %>
        </div>


      </div>
    </div>

  </div>
</div>	<!-- Page navigation -->