        <div class="row">
          <div class="col-xs-12 breadcrumbs">
            <ul>
              <li>
                <span class="glyphicon glyphicon-play triangle"></span>
                <a href="/">Главная</a>
              </li>
              <li><span>-</span></li>
              <li>
                <a href="#">Корзина</a>
              </li>
            </ul>
          </div>
        </div>

  

  <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 name-cart">
    <p>Ваша корзина</p>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12 cart-wrapper-container ">
    <% if !session[:cart].blank? %>
    <div class="cart-container">
        <div class="categories">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><p>Фото</p></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><p>Наименование</p></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><p>Количество</p></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><p>Сумма, руб</p></div>
            </div>
            <% full_price = 0 %> 
                      <% session[:cart].each do |i| %>
                        <% if !i[1].nil? %>
                            <% item_id = i[0].split('_')[0]%>
                            <% item_params =  i[0].split('_'); %>

                            <%
                              if item_params[1] == 'Complect' || item_params[1] == 'Hardware'
                                if item_params[1] == 'Complect'
                                  item_info = Complect.where(id: item_id).first
                                else
                                  item_info = Hardware.where(id: item_id).first
                                end
                              else
                                  item_info = FilterItems.where(id: item_id).first 
                              end
                            %>
                                <div class="line">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item">
                                                    <img class="img-responsive" src="<%= item_info.image.url(:thumb)%>"  alt="">
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item p-top">
                                                    <span class="name"><%= item_info.name %></span><br />
                                                    <p>
                                                      <% if !item_params[1].blank? %>
                                                        Адаптер: <%= item_params[1] %><br />
                                                      <% end %>
                                                      <% if !item_params[2].blank? %>
                                                        Высота: <%= item_params[2] %> дюймов<br />
                                                      <% end %>
                                                      <% if !item_params[3].blank? %>
                                                        Рейтинг фильтрации: <%= item_params[3] %> мкм
                                                      <% end %>
                                                    </p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item p-top">
                                                    <input type="image" src="<%= image_path('button-minus.png') %>" class="count-minus" item-id="<%= i[0] %>">
                                                    <input type="text" class="textbox cart-item-count count-item" value="<%= i[1] %>" item-id="<%= i[0] %>" style="color: black" >
                                                    <input type="image" src="<%= image_path('button-plus.png') %>"  class="count-plus" item-id="<%= i[0] %>">  
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 item p-top">
                                                    <span class="sumarry-price">
                                                      <%
                                                          if item_params[1] == 'Complect' || item_params[1] == 'Hardware'
                                                             full_price = full_price + item_info.price.to_i*i[1].to_i 
                                                             cur_price = item_info.price.to_i*i[1]
                                                          else
                                                             full_price = full_price + FilterConfiguration.where("adapter_type = ? AND height = ? AND rate = ? AND filter_items_id = ?", item_params[1], item_params[2], item_params[3], item_params[0])[0].price.to_i*i[1].to_i

                                                             cur_price = FilterConfiguration.where("adapter_type = ? AND height = ? AND rate = ? AND filter_items_id = ?", item_params[1], item_params[2], item_params[3], item_params[0])[0].price.to_i*i[1].to_i

                                                          end

                                                      %>
                                                      <%= cur_price %>
                                                    </span>
                                                    <input type="image" class="cbt cart-item-remove rem-item" data-id="<%= i[0] %>" src="<%= image_path('button-cancel.png') %>">
                                            </div>
                                </div>
                        <% end %>
                      <% end %>
    </div>
    <% else %>
        Товаров в корзине нет
    <% end %>
</div>

    




<% if !session[:cart].blank? %>
  <div class="sum f-right">
    <p>Сумма: <span class="span-sum"> <%= full_price%> руб.</span></p>
    <label><input type="radio" group="price" name="###" style="margin-top: 8px" checked="true" onclick="$('.summary').hide(); $('#without_nds').show()"/> Без НДС</label>
    <label style="margin-left: 20px;"><input type="radio" group="price" name="###" style="margin-top: 8px" onclick="$('.summary').hide(); $('#with_nds').show()" /> С НДС</label>
    <p>Итого:<span class="summary" id="without_nds"> <%= full_price%> руб.</span><span class="summary" id="with_nds" style="display: none"> <%= full_price.to_f + (full_price.to_f/100*18)%> руб.</span></p>
    <ul>
      <li><a href="/filters">Продолжить покупки</a></li>
      <li>
        
          <button class="first-btn" onClick="window.location.href='/payment'">Оформить заказ</button>
        
      </li>
      <li>
        
          <button class="second-btn" onClick="">Быстрый заказ</button>
        
      </li>
    </ul>
  </div>
<% end %>