<!-- Second ROW -->
<div class="container shop-container">
  <div class="row">


      <!-- Sidebar -->
    <div class="col-xs-4 sidebar">
      <form action="">
        <h3 class="text-center">Быстрый подбор комплектующих:</h3>

        <h4>Категория:</h4>
          <% @categories = Complect.get_category %>
          <div class="checkbox">
            <% @categories.each do |w| %>
              <label><input type="checkbox" name="filters[complect_category][<%=w%>]" value="1" <%='checked' if(!params[:filters].blank? && !params[:filters][:complect_category].blank? && params[:filters][:complect_category][w.to_s].to_i == 1)%>> <%= w.capitalize %></label><br />
            <% end %>
          </div>

        <button type="submit">НАЙТИ</button>
      </form>
    </div>
      <!-- Sidebar END -->

      <!-- Shop content -->
    <div class="col-xs-8 shop-content">

      <!-- Breadcrumbs -->
        <div class="row">
          <div class="col-xs-12 breadcrumbs">
            <ul>
              <li>
                <span class="glyphicon glyphicon-play triangle"></span>
                <a href="/">Главная</a>
              </li>
              <li><span>-</span></li>
              <li>
                <a href="#">Комплектующие</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Заголовок меню -->
        <div class="row catalog-prod">
          <div class="col-xs-6">
            <p id="catalog-prod"><%= @header %></p>
          </div>
          <div class="col-xs-6 how-much">
            <ul>
              <p>Товаров на странице:</p>
              <li><a href="<%= url_for(params.merge({:per_page => '10' })) %>">10</a></li>
              <li><a href="<%= url_for(params.merge({:per_page => '20' })) %>">20</a></li>
              <li><a href="<%= url_for(params.merge({:per_page => '30' })) %>">30</a></li>
            </ul>
          </div>
        </div>


        <!-- SHOP TOP MENU -->
        <div class="row shop-menu">

          <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
              <p class="f-left">Групировать:</p>
              <div class="btn-group btn-shop f-left">
                <button type="button" class="btn btn-default dropdown-toggle f-left" data-toggle="dropdown" aria-expanded="false">
                  <%= 'рейтингу фильтрации' if params[:sort]== 'rate' %>
                  <%= 'отрасли' if params[:sort]== 'department' %>
                  <%= 'типу' if params[:sort]== 'filter_type' %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" class="sort" value="rate">Рейтингу фильтрации</a></li>
                  <li><a href="#" class="sort" value="department">Отрасли</a></li>
                  <li><a href="#" class="sort" value="filter_type">Типу фильтра</a></li>
                </ul>
              </div>
                <div class="razdelitel hidden-md hidden-sm hidden-xs"></div>
          </div> -->

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <p class="f-left">Сортировать:</p>
              <div class="btn-group btn-shop btn-2 f-left">
                <button type="button" class="btn btn-default dropdown-toggle btn-sort f-left" data-toggle="dropdown" aria-expanded="false">
                  <%= 'убыванию цены' if params[:sort]== 'price DESC' %>
                  <%= 'возрастанию цены' if params[:sort]== 'price ASC' %>
                   <span class="caret carer-m f-right"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" class="sort" value="price DESC">Убывание цены</a></li>
                  <li><a href="#" class="sort" value="price ASC">Возрастание цены</a></li>
                  <!--<li><a href="#" class="sort">Рейтинг</a></li>
                  <li><a href="#" class="sort">Новинки</a></li>-->
                </ul>
              </div>
                <div class="razdelitel hidden-md hidden-sm hidden-xs"></div>
          </div>

                
          <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <p class="f-left">Вид:</p>
            <div class="btn-group btn-group-xs btn-vision f-left" role="group" aria-label="...">
              <button type="button" class="btn btn-left"></button>
              <button type="button" class="btn btn-right"></button>
            </div>
                <div class="razdelitel hidden-md hidden-sm hidden-xs"></div>
          </div>-->

          <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <p class="f-left">Товаров к сравнению:</p>
            <a id="goods-to-difference" class="f-left" href="#">2</a>
          </div>-->
        </div>


        <!-- Goods -->
        <div class="row goods">
          <% @items.each do |i| %>
            <div class="col-md-3 col-sm-3 col-xs-3 goods-block">
              <% if i.surprice == 1 %>
                <img src="<%= image_path('surprice.png')%>" class="img-responsive surprice-label" />
              <% end %>
              <a href="/complect/<%= i.id %>"><img class="img-responsive" src="<%= i.image.url(:thumb) %>" alt=""></a>
              <a href="/complect/<%= i.id %>" class="goods-block-name"><h2><%= i.name %></h2></a>
              <p class="small-description"><%= strip_tags(i.description) %></p>
              <p class="price price-catalog">Цена: <span><%= i.price %></span> руб. <!--<a href="#">сравнить</a>--></p>
              <button class="buy-button2 add-to-cart-link" onclick="window.location.href='/complect/<%= i.id %>';"></button>
              <button class="fast-order-btn order-popup" data-toggle="modal" data-target="#fastOrderModal"></button>
              <!-- <p class="not-available">нет в наличии</p> -->
            </div>
          <% end %>
        </div>

    </div>
      <!-- Shop content end -->
  </div>
</div>
  <!-- Second ROW END-->



  <!-- Page navigation -->
<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>

    <div class="col-xs-8  page-nav text-center">
    <nav>
      <%= will_paginate @items %>
      <ul class="pagination">
<!--        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li> -->
        <!--<li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>-->

        <!--<li>
          <div class="razdelitel2"></div>
          <a href="#" class="to-last">
            В конец
          </a>
        </li>-->

      </ul>
    </nav>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('.sort').click(function(){
    var url = "<%= url_for(params.merge({:sort => 'sort_type' })) %>";
    url = url.replace(/sort_type/g, $(this).attr('value'));
    window.location.href=url;

  });
</script>