          <div class="row">
          <div class="col-xs-12 breadcrumbs">
            <ul>
              <li>
                <span class="glyphicon glyphicon-play triangle"></span>
                <a href="/">Главная</a>
              </li>
              <li><span>-</span></li>
              <li>
                <a href="#">FAQ</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-order">
            <span>FAQ<span>
        </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper-container ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper">
              <script>
                  $(function() {
                    $( "#accordion" ).accordion();
                  });
                  </script>
                    <div id="accordion">
                      <% @faq.each do |f| %>
                          <h3><%= f.question %></h3>
                          <div>
                            <%= f.answer.html_safe %>
                          </div>
                      <% end %>
                    </div>
            </div>
          </div>