<!-- Second ROW -->
<div class="container shop-container">
  <div class="row">


      <!-- Sidebar -->
    <div class="col-xs-4 sidebar">
      <form action="">
        <h3 class="text-center">Быстрый подбор фильтров:</h3>
        <h4>Субстанция:</h4>
          <% @matherials = FilterItems.get_matherial %>
          <div class="checkbox">
            <% @matherials.each do |w| %>
              <label><input type="checkbox" name="filters[matherial][<%=w %>]" value="1" <%='checked' if(!params[:filters].blank? && !params[:filters][:matherial].blank? && params[:filters][:matherial][w.to_s].to_i == 1)%>> <%= w.capitalize %></label><br />
            <% end %>
          </div>

        <h4>Рейтинг фильтрации (в мкм):</h4>
        <div class="f-left slider-filter">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><input type="image" src="<%= image_path('button-minus.png') %>" class="param-minus" attr="rate" act-type="from"></div>
          <div class="f-left"><input type="textbox" class="textbox textbox-filter" name="rate_from" style="color: black" value="" attr="rate"></div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" style="padding-left: 3px;"><input type="image" src="<%= image_path('button-plus.png') %>" class="param-plus" attr="rate" act-type="from"></div>
        </div>

        <div  class="f-left slider-filter">  
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><input type="image" src="<%= image_path('button-minus.png') %>" class="param-minus" attr="rate" act-type="to"></div>
          <div class="f-left"><input type="textbox" class="textbox textbox-filter" name="rate_to" style="color: black" value="" attr="rate"></div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3" style="padding-left: 3px;"><input type="image" src="<%= image_path('button-plus.png') %>" class="param-plus" attr="rate" act-type="to"></div>
        </div>

        <div class="price-slider price-slider-filter">
          <div id="slider-snap" class="rate"></div>
          <p>от
            <span id="slider-snap-value-lower"></span>
            до
            <span id="slider-snap-value-upper"></span>
          </p>
        </div>

        <h4>Тип фильтра:</h4>
          <% @types = FilterItems.get_type %>
          <div class="checkbox">
            <% @types.each do |w| %>
              <label><input type="checkbox" name="filters[filter_type][<%=w%>]" value="1" <%='checked' if(!params[:filters].blank? && !params[:filters][:filter_type].blank? && params[:filters][:filter_type][w.to_s].to_i == 1)%>> <%= w.capitalize %></label><br />
            <% end %>
          </div>

        <h4>Отрасли:</h4>
          <% @departments = FilterItems.get_department %>
          <div class="checkbox">
            <% @departments.each do |w| %>
              <label><input type="checkbox" name="filters[department][<%=w %>]" value="1" <%='checked' if(!params[:filters].blank? && !params[:filters][:department].blank? && params[:filters][:department][w.to_s].to_i == 1)%>> <%= w.capitalize %></label><br />
            <% end %>
          </div>
        
        <button type="submit">НАЙТИ</button>
      </form>
    </div>
      <!-- Sidebar END -->

      <!-- Shop content -->
    <div class="col-xs-8 shop-content">

      <!-- Breadcrumbs -->
        <div class="row">
          <div class="col-xs-12 breadcrumbs">
            <ul>
              <li>
                <span class="glyphicon glyphicon-play triangle"></span>
                <a href="/">Главная</a>
              </li>
              <li><span>-</span></li>
              <li>
                <a href="#">Фильтроэлементы</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Заголовок меню -->
        <div class="row catalog-prod">
          <div class="col-xs-6">
            <p id="catalog-prod"><%= @header %></p>
          </div>
          <div class="col-xs-6 how-much">
            <ul>
              <p>Товаров на странице:</p>
              <li><a href="<%= url_for(params.merge({:per_page => '10' })) %>">10</a></li>
              <li><a href="<%= url_for(params.merge({:per_page => '20' })) %>">20</a></li>
              <li><a href="<%= url_for(params.merge({:per_page => '30' })) %>">30</a></li>
            </ul>
          </div>
        </div>


        <!-- SHOP TOP MENU -->
        <div class="row shop-menu">

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
              <p class="f-left">Групировать:</p>
              <div class="btn-group btn-shop f-left">
                <button type="button" class="btn btn-default dropdown-toggle f-left" data-toggle="dropdown" aria-expanded="false">
                  <%= 'рейтингу' if params[:sort]== 'rate' %>
                  <%= 'отрасли' if params[:sort]== 'department' %>
                  <%= 'типу' if params[:sort]== 'filter_type' %>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" class="sort" value="rate">Рейтингу фильтрации</a></li>
                  <li><a href="#" class="sort" value="department">Отрасли</a></li>
                  <li><a href="#" class="sort" value="filter_type">Типу фильтра</a></li>
                </ul>
              </div>
                <div class="razdelitel hidden-md hidden-sm hidden-xs"></div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-bottom: 10px">
            <p class="f-left">Сортировать:</p>
              <div class="btn-group btn-shop btn-2 f-left">
                <button type="button" class="btn btn-default dropdown-toggle btn-sort f-left" data-toggle="dropdown" aria-expanded="false">
                  <%= 'убыванию цены' if params[:sort]== 'price DESC' %>
                  <%= 'возрастанию цены' if params[:sort]== 'price ASC' %>
                   <span class="caret carer-m f-right"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" class="sort" value="price DESC">Убывание цены</a></li>
                  <li><a href="#" class="sort" value="price ASC">Возрастание цены</a></li>
                  <!--<li><a href="#" class="sort">Рейтинг</a></li>
                  <li><a href="#" class="sort">Новинки</a></li>-->
                </ul>
              </div>
                <div class="razdelitel hidden-md hidden-sm hidden-xs"></div>
          </div>

                
          <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-2">
            <p class="f-left">Вид:</p>
            <div class="btn-group btn-group-xs btn-vision f-left" role="group" aria-label="...">
              <button type="button" class="btn btn-left"></button>
              <button type="button" class="btn btn-right"></button>
            </div>
                <div class="razdelitel hidden-md hidden-sm hidden-xs"></div>
          </div>-->

          <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <p class="f-left">Товаров к сравнению:</p>
            <a id="goods-to-difference" class="f-left" href="#">2</a>
          </div>-->
        </div>


        <!-- Goods -->
        <div class="row goods">
          <% if @items.blank? %>
            <p style="margin-top: 10px; margin-left: 10px;">К сожалению товаров не найдено.</p>
          <% else %>
            <% @items.each do |i| %>
              <div class="col-md-3 col-sm-3 col-xs-3 goods-block">
                <% if i.surprice == 1 %>
                  <img src="<%= image_path('surprice.png')%>" class="img-responsive surprice-label" />
                <% end %>
                <a href="/filter/<%= i.id %>"><img class="img-responsive" src="<%= i.image.url(:thumb) %>" alt=""></a>
                <a href="/filter/<%= i.id %>"  class="goods-block-name"><h2><%= i.name %></h2></a>
                <p class="small-description"><%= strip_tags(i.description) %></p>
                <% min_price = 99999999999
                   prices = i.filter_configuration 
                   prices.each do |p|
                      if p.price.to_i < min_price.to_i
                        min_price = p.price
                      end
                end %>
                <% if min_price.to_i != 99999999999 %>
                  <p class="price price-catalog">Цена от: <span><%= min_price %></span> руб. <!--<a href="#">сравнить</a>--></p>
                <% else %>
                  <p class="price price-catalog">Под заказ</p>
                <% end %>
                <button class="buy-button2 add-to-cart-link" onclick="window.location.href='/filter/<%= i.id %>';"></button>
                <button class="fast-order-btn order-popup" data-toggle="modal" data-target="#fastOrderModal"></button>
                <!-- <p class="not-available">нет в наличии</p> -->
              </div>
            <% end %>
          <% end %>
        </div>

    </div>
      <!-- Shop content end -->
  </div>
</div>
  <!-- Second ROW END-->



  <!-- Page navigation -->
<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>

    <div class="col-xs-8  page-nav text-center">
    <nav>
      <%= will_paginate @items %>
      <ul class="pagination">
<!--        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li> -->
        <!--<li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>-->

        <!--<li>
          <div class="razdelitel2"></div>
          <a href="#" class="to-last">
            В конец
          </a>
        </li>-->

      </ul>
    </nav>
    </div>

  </div>
</div>

<% @rates = FilterItems.select(:rate).order(:rate).uniq %>
<% if !params[:rate_from].blank? %>
  <% rate_from = params[:rate_from] %>
<% else %>
      <% rate_from = 0 %>
<% end %>
<% if !params[:rate_to].blank? %>
  <% rate_to = params[:rate_to] %>
<% else %>
      <% rate_to = 150 %>
<% end %>
<script>
$('#slider-snap').noUiSlider({
  start: [ <%= rate_from %>, <%= rate_to %> ],
  //snap: true,
  connect: true,
  step:  0.10,
  range: {
    'min': 0,
    'max': 50
  }
});

$('#slider-snap').Link('lower').to($('#slider-snap-value-lower'));
$('#slider-snap').Link('lower').to($('input[name=rate_from]'), setValue);

$('#slider-snap').Link('upper').to($('#slider-snap-value-upper'));
$('#slider-snap').Link('upper').to($('input[name=rate_to]'), setValue);


  $('.sort').click(function(){
    var url = "<%= url_for(params.merge({:sort => 'sort_type' })) %>";
    url = url.replace(/sort_type/g, $(this).attr('value'));
    window.location.href=url;

  });
</script>