<div class="row">
  <div class="col-xs-12 breadcrumbs">
    <ul>
      <li>
        <span class="glyphicon glyphicon-play triangle"></span>
        <a href="/">Главная</a>
      </li>
      <li><span>-</span></li>
      <li>
        <a href="/filters">Фильтроэлементы</a>
      </li>
      <li><span>-</span></li>
      <li>
        <a href="#"><%= @item_info.name%></a>
      </li>
    </ul>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-order">
            <span><%= @item_info.name%></span>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper-container ">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="img-item">
        <a class="fancybox" rel="group" href="<%= @item_info.image.url(:original) %>">
          <img src="<%= @item_info.image.url(:inner) %>" class="img-responsive" alt="">
        </a>
        <% if @item_info.image2_file_name %>
            <a class="fancybox" rel="group" href="<%= @item_info.image2.url(:original) %>"></a>
        <% end %>
        <% if @item_info.image3_file_name %>
            <a class="fancybox" rel="group" href="<%= @item_info.image3.url(:original) %>"></a>
        <% end %>
        <% if @item_info.image4_file_name %>
            <a class="fancybox" rel="group" href="<%= @item_info.image4.url(:original) %>"></a>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3>Быстрый подбор фильтра</h3>
        <div class="card-configurator">
            <div class="col-lg-7">
                <h4>Адаптер</h4>
                <select name="adapter" id="" class="form-control">
                  <% @item_info.get_adapters.each_with_index do |w, index| %>
                      <option value="<%= w %>" <%= 'selected' if index==0%>><%= w.gsub('.0', '') %></option>
                  <% end %>
                </select>
                <h4>Высота</h4>
                <select name="height" id="" class="form-control">
                  <% @item_info.get_heights.sort.each_with_index do |w, index| %>
                      <option value="<%= w %>" <%= 'selected' if index==0 %>><%= w %></option>
                  <% end %>
                </select>
                <h4>Рейтинг фильтрации(мкм)</h4>
                <select name="rate" id="" class="form-control">
                  <% @item_info.get_rates.each_with_index do |w, index| %>
                      <option value="<%= w %>" <%= 'checked' if index==0 %>><%= w %> мкм</option>
                  <% end %>
                </select>



            </div>
            <div class="col-lg-5">
              <div class="item-price item-price-real">
                <p>Цена: <span id="item-price-real"><%= @item_info.filter_configuration[0].price %></span> руб</p>
              </div>

              <div class="item-price item-count">
                <p style="margin-right: 14px;">Кол-во:</p>
                    <p style="cursor: pointer" id="count-minus">-</p>
                    <input type="text" class="form-control count-field" value="1"/>
                    <p style="cursor: pointer" id="count-plus">+</p>
              </div>
            </div>
            <div class="col-lg-12">
              <button class="add-to-cart" data-id="<%= @item_info.id %>" data-type="FilterItems" style="float: left"></button>
              <button type="button" class="fast-order-item" data-toggle="modal" data-target="#fastOrderModal" style="float: left"></button>
              <button class="fast-order-btn order-popup" data-toggle="modal" data-target="#fastOrderModal" style="float: left"></button>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both"></div>
    <h3>Эксплуатационные характеристики</h3>
    <%= @item_info.description_full.html_safe %>
  </div>
</div>


<script type="text/javascript">

    $(document).ready(function(){
        select_price();
        $('select[name=height]').bind('change', function(){
            select_price();
        });
        $('select[name=rate]').bind('change', function(){
            select_price();
        });
        $('select[name=adapter]').bind('change', function(){
            select_price();
        });
    });

    function select_price() {
        var height = $('select[name=height]').val();
        var rate = $('select[name=rate]').val();
        var adapter = $('select[name=adapter]').val();
        $.ajax({
            url: '/ajax/get_price',
            data: 'height='+height+"&rate="+rate+"&adapter="+adapter+"&item_id=<%= @item_info.id %>",
            type: 'post',
            dataType: 'json',
            success: function(data) {
                if(data.count != 0)
                {
                    $('.fast-order-item').hide();
                    $('.add-to-cart').show();
                } else {
                    $('.fast-order-item').show();
                    $('.add-to-cart').hide();
                }
                $(".item-price-real").show();
                $("#item-price-real").empty().append(data.price);
                $(".card-configurator .item-count").css('margin-top', '10px');
            },
            error: function() {
                $('.fast-order-item').show();
                $('.add-to-cart').hide();
                $(".item-price-real").hide();
                $(".card-configurator .item-count").css('margin-top', '40px');
            }
        });
    }
</script>