<div class="row">
  <div class="col-xs-12 breadcrumbs">
    <ul>
      <li>
        <span class="glyphicon glyphicon-play triangle"></span>
        <a href="/">Главная</a>
      </li>
      <li><span>-</span></li>
      <li>
        <a href="/complect">Комплектующие</a>
      </li>
      <li><span>-</span></li>
      <li>
        <a href="#"><%= @item_info.name%></a>
      </li>
    </ul>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-order">
  <span><%= @item_info.name%></span>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper-container ">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="img-item">
        <a class="fancybox" rel="group" href="<%= @item_info.image.url(:original) %>">
          <img src="<%= @item_info.image.url(:inner) %>" class="img-responsive" alt="">
        </a>
        <% if @item_info.image2_file_name %>
            <a class="fancybox" rel="group" href="<%= @item_info.image2.url(:original) %>"></a>
        <% end %>
        <% if @item_info.image3_file_name %>
            <a class="fancybox" rel="group" href="<%= @item_info.image3.url(:original) %>"></a>
        <% end %>
        <% if @item_info.image4_file_name %>
            <a class="fancybox" rel="group" href="<%= @item_info.image4.url(:original) %>"></a>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card-configurator">
        <div class="col-lg-7">

        </div>
        <div class="col-lg-5">
          <div class="item-price item-price-real">
            <p>Цена: <span id="item-price"><%= @item_info.price %></span> руб</p>
          </div>

          <div class="item-price item-count">
            <p style="margin-right: 14px;">Кол-во:</p>
            <p style="cursor: pointer" id="count-minus">-</p>
            <input type="text" class="form-control count-field" value="1"/>
            <p style="cursor: pointer" id="count-plus">+</p>
          </div>
        </div>
        <div class="col-lg-12">
          <% if @item_info.count_items != 0 %>
              <button class="add-to-cart" data-id="<%= @item_info.id %>" data-type="Hardware" style="float: left"></button>
          <% else %>
              <button type="button" class="fast-order-item" data-toggle="modal" data-target="#fastOrderModal" style="float: left"></button>
          <% end %>
          <button class="fast-order-btn order-popup" data-toggle="modal" data-target="#fastOrderModal" style="float: left"></button>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div style="clear: both"></div>
    <h3>Эксплуатационные характеристики</h3>
    <%= @item_info.description_full.html_safe %>
  </div>
</div>