  <row>
    <div class="col-xs-12 text-center second-row" style="margin-top: 30px;">
      <img src="<%= image_path('main-header.png') %>" class="header-image-text">
    </div>
  </row>



  <!-- Third ROW -->
  <div class="row">

    <div class="buy-block col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: 5%">
      <a href="/filters"><img class="img-responsive" src="<%= image_path('img_1.png') %>" alt=""></a>
      <h4><a href="/filters"><img class="index-img" src="<%= image_path('filters_text.png') %>"  ></a></h4>
      <!--
      <p><%= Settings.get_param_value('comment_1stitem') %></p>
      <a href="/filters"><div class="buy-button" >Купить за <span><%= Settings.get_param_value('minprice_1') %></span> руб.</div></a>
      -->
    </div>

    <div class="buy-block col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: 5%">
      <a href="/hardware"><img class="img-responsive" src="<%= image_path('img_3.png') %>" alt=""></a>
      <h4><a href="/hardware"><img class="index-img" src="<%= image_path('hardware_text.png') %>" ></a></h4>
      <!--
      <p><%= Settings.get_param_value('comment_3editem') %></p>
      <a href="/hardware"><div class="buy-button" >Купить за <span><%= Settings.get_param_value('minprice_3') %></span> руб.</div></a>
      -->
    </div>

    <div class="buy-block col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: 5%">
      <a href="/complect"><img class="img-responsive" src="<%= image_path('img_2.png') %>" alt=""></a>
      <h4><a href="/complect"><img class="index-img" src="<%= image_path('compl_text.png') %>" ></a></h4>
      <!--
      <p><%= Settings.get_param_value('comment_2nditem') %></p>
      <a href="/complect"><div class="buy-button" class=''>Купить за <span><%= Settings.get_param_value('minprice_2') %></span> руб.</div></a>
      -->
    </div>

  </div>