<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<style>
		.with-border {
			border: 1px solid black;
			border-collapse: collapse;
			width: 100%
		}
		.with-border td, .with-border th{
			border: 1px solid black;
			vertical-align: top;
		}
		div {
			width: 100%;
		}
		.stamp {
			 background: url(<%= "file:///#{WickedPdfHelper.root_path.join('public', 'images', 'stamp.png')}" %>) 50px 0 no-repeat;
			 /*background: url(/images/stamp.png) 50px 0 no-repeat;*/
			 width: 600px; 
			 height: 419px;
			 padding-top: 140px;
		}
	</style>
</head>
<body>
	<table class="with-border">
    <tr>
        <td colspan="2" rowspan="2">ОТДЕЛЕНИЕ N8608 СБЕРБАНКА РОССИИ<br /><br />Банк получателя</td>
        <td>БИК</td>
        <td rowspan="2">042908612<br /><br />30101810100000000612</td>
    </tr>
    <tr>
        <td>Кор Сч. №</td>
    </tr>
    <tr>
        <td>ИНН: 4003036130</td>
        <td>КПП: 400301001</td>
        <td rowspan="2">Сч.№</td>
        <% if(@order.with_nds == 1) %>
        	<td rowspan="2">40702810322240000505</td>
        <% else %>
        	<td rowspan="2">40702810222240000618</td>
        <% end %>
    </tr>
    <tr>
    	<% if(@order.with_nds == 1) %>
       		<td colspan="2">ООО Трейд ОФ<br /><br />Получатель</td>
       	<% else %>
       		<td colspan="2">ООО Тех ОФ<br /><br />Получатель</td>
       	<% end %>
    </tr>
</table>
<img src="/images/logo_doc.png" />
<%= wicked_pdf_image_tag 'logo_doc.png' %>
<div>
	<strong>Счет на оплату №<%= @order.id %> от 2015 г.</strong>
	<table class="witout-border">
		<tr>
			<td style="padding-right: 100px">Поставщик<br />(Исполнитель):</td>
			<td>ООО “Тех ОФ”, ИНН: 4003036130, КПП: 400301001, 249008, Калужская обл.,<br />г. Обнинск, ул. Аксенова д. 2 а офис 6</td>
		</tr>
		<tr>
			<td style="padding-right: 100px;padding-top: 20px;">Покупатель<br />(Заказчик):</td>
			<td style="padding-top: 20px;"><%= @order.name %>, ИНН: <%= @order.inn %>, КПП: <%= @order.kpp %>, <%= @order.city %> <%= @order.address%></td>
		</tr>
	</table>
</div>

<div style="margin-top: 40px;">
	<table class="with-border">
		<tr>
			<th>№</th>
			<th>Товары<br>(работы, услуги)</th>
			<th>Кол-во</th>
			<th>Цена</th>
			<th>Сумма</th>
		</tr>
		<% total_count = 0 %>
		<% index = 1 %>
		<% if !@cart.blank? %>
			<% @cart.each do |i| %>
				<% item_id = i[0].split('_')[0] %>
				<% adapter = height = rate = '' %>
				<% adapter = '<br />Адаптер: '+i[0].split('_')[1].to_s if !i[0].split('_')[1].blank? %>
				<% height = '<br />Высота: '+i[0].split('_')[2].to_s if !i[0].split('_')[2].blank? %>
				<% rate = '<br />Рейтинг фильтрации: '+i[0].split('_')[3].to_s if !i[0].split('_')[3].blank? %>
				<%
						puts i[0].split('_')[1]
						category = 0
						if i[0].split('_')[1] == 'Complect' || i[0].split('_')[1] == 'Hardware'
						  if i[0].split('_')[1] == 'Complect'
						    item = Complect.where(id: item_id).first
						  else
						    item = Hardware.where(id: item_id).first
						  end
						else
						    item = FilterItems.where(id: item_id).first 
						    category = 1
						end
				%>
				<%
					if category == 1
						name = item.name+adapter+height+rate
					else
						name= item.name
					end
				%>
				<%
					if category == 1
						#price = FilterConfiguration.where(filter_items_id: item.id).first.price
						price = FilterConfiguration.where("adapter_type = ? AND height = ? AND rate = ? AND filter_items_id = ?", i[0].split('_')[1], i[0].split('_')[2], i[0].split('_')[3], item_id)[0].price
					else
						price = item.price
					end
				%>
				<tr>
					<td><%= index %></td>
					<td><%= name.html_safe %></td>
					<td><%= i[1].to_s%></td>
					<td><%= price %> руб.</td>
					<td><%= (price.to_i * i[1].to_i).to_s %> руб.</td>
				</tr>
				<% total_count = total_count.to_i + i[1].to_i %>
				<% index = index + 1%>
			<% end %>
		<% end %>
      <tr>
        <td></td>
        <td>Доставка: <%= @order.delivery %></td>
        <td></td>
        <td><%= @order.delivery_price %> руб.</td>
        <td><%= @order.delivery_price %> руб.</td>
      </tr>
	</table>
</div>
<div style="margin-top: 40px;text-align: right;">
	Итого: <%= @order.summa %> руб.<br />
	<% if @order.with_nds == 1%>
		В том числе НДС: <%= sprintf("%.2f", (@order.summa_with_nds.to_f - @order.summa.to_f)).to_s %> руб.<br />
		Итого к оплате: <%= @order.summa_with_nds %> руб.
	<% end %>
</div>

<div style="margin-top: 40px;">
	Всего наименований  <%= total_count %>  , на сумму    руб.<br />
	<% if @order.with_nds == 1 %>
		<strong><%= RuPropisju.rublej(@order.summa_with_nds.to_f) %></strong>
	<% else %>
		<strong><%= RuPropisju.rublej(@order.summa.to_f) %></strong>
	<% end %>
</div>

<div style="margin-top: 40px;">
Внимание!<br />
Оплата данного счета означает согласие с условиями поставки товара.<br />
Товар отпускается по факту прихода денег на р/с Поставщика.
<br /><br />
________________________________________________________________________________________________________<br />
________________________________________________________________________________________________________
</div>
<div  class="stamp" style="margin-top: 40px;">
	<strong>Руководитель</strong>______________________________Багдасаров М.А. 
</div>

</body>
</html>

