			<!-- Breadcrumbs -->
				<div class="row">
					<div class="col-xs-12 breadcrumbs">
						<ul>
							<li>
								<span class="glyphicon glyphicon-play triangle"></span>
								<a href="/">Главная</a>
							</li>
							<li><span>-</span></li>
							<li>
								<a href="#">Оформление заказа</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-order">
    				<span>Оформить заказ</span>
 				</div>
<% if (params[:order] && @order.errors.count == 0) || (params[:order_phisical] && @order_phisical.errors.count == 0)%>	
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper-container " style="min-height: 200px;">
		<p id="catalog-prod" style="margin-top: 10px; margin-left: 10px;">Заказ успешно оформлен.</p>
		<p>Через несколько секунд вы будете перенаправлены на главную страницу</p>
	</div>
	<script>
		$(document).ready(function(){
			setTimeout('window.location.href="/"', 5000);
		});
	</script>
<% else %>			
<%= form_for @order, url: '/payment', method: 'post', html: { id: 'order-from' } do |f| %>
 					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper-container ">
 						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper">
	 						<ul class="errors">
											<% @order.errors.full_messages.each do |msg| %>
														<li><%= msg%></li>
											<% end %>
							</ul>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 buyer-container">
									<div class="buyer"><span>Покупатель</span></div>
									<div class="buyer-info">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 order-info-ul">
											<ul>
												<li>* ФИО</li>
												<li>* Телефон</li>
												<li>* E-mail</li>
                                                <li>* Город</li>
												<li>* Адрес</li>
												<li>Комментарий</li>
											</ul>
										</div>

										<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 order-info-input">
											<input type="textbox" name="order[name]" placeholder="Иван" style="width: 90%">
											<input type="textbox" name="order[phone]" placeholder="71234567890" style="width: 90%">
											<input type="textbox" name="order[email]" placeholder="example@mail.ru" style="width: 90%">
                                            <select style="width: 90%; background: white; color: black" name="order[city]" id="city">
                                              <% Kladr.order('name ASC').each do |c| %>
                                                  <option value="<%= c.codeKLADR.strip %>"><%= c.name %></option>
                                              <% end %>
                                            </select>
											<input type="textbox" name="order[address]" placeholder="ул. Мирная, д.1" style="width: 90%">
											<textarea style="width: 90%"></textarea>
										</div>

									</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 shipping-and-payment">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 buyer"><span>Способ оплаты, доставки и тип покупателя</span></div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 payment bottom-line" >
											<ul>
												<li><label><input type="radio" group="buyer_type" name="" value="" style="margin-top: 8px" checked="true" onclick="window.location.href='/payment'"/> Физическое лицо</label></li>
												<li><label><input type="radio" group="buyer_type" name="" value="" style="margin-top: 8px" onclick="window.location.href='/payment/juridicial'" /> Юридическое лицо</label></li>
											</ul>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shipping">
											<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
												<ul>
													<li><label><input class="delivery" id="check_original" type="radio" group="delivery" name="order[delivery]" value="Самовывоз" style="margin-top: 8px" checked="true" /> Самовывоз из магазина (г. Обнинск)</label></li>
													<li><label><input class="delivery" id="check_to_address" type="radio" group="delivery" name="order[delivery]" value="До адреса" style="margin-top: 8px" /> Компания "Деловые линии" (доставка до адреса)</label></li>
													<li><label><input class="delivery" id="check_to_terminal" type="radio" group="delivery" name="order[delivery]" value="До терминала" style="margin-top: 8px"/> Компания "Деловые линии" (доставка до терминала)</label></li>
												</ul>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
												<ul>
                                                    <li>0 руб</li>
													<li id="to_address"></li>
													<li class="li" id="to_terminal"></li>
												</ul>
												
											</div>
											
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shipping bottom-line" style="margin-top: 31px">
											<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
												<ul>
													<li class="pay_cash"><label><input type="radio" group="payment" name="order[payment]" value="Наличные" style="margin-top: 8px" checked="true"/> Оплата наличными</label></li>
													<li class="pay_robo"><label><input type="radio" group="payment" name="order[payment]" value="Robokassa" style="margin-top: 8px" /> Робокасса(выбрать метод)</label></li>
												</ul>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
												<ul>
													<li class="li li_pay_cash"><%= @order.summa %> руб.</li>
													<li class="li li_pay_robo"><%= @order.summa %> руб.</li>
											</ul>
											</div>	
										</div>

						</div>
 					</div>
 					<div style="clear: both"></div>
 					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-btn">
 						<ul>
					      <li>
					          <button class="first-btn" onClick="$('#order-form').submit()">Оплатить заказ</button>
					      </li>
					      <li>
					          <button class="second-btn" onClick="">Быстрый заказ</button>
					      </li>
					    </ul>
 					</div>
		</div>
<% end %>
<% end %>