        <div class="row">
          <div class="col-xs-12 breadcrumbs">
            <ul>
              <li>
                <span class="glyphicon glyphicon-play triangle"></span>
                <a href="/">Главная</a>
              </li>
              <li><span>-</span></li>
              <li>
                <a href="#"><%= @header %></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name-order">
            <span><%= @header %><span>
        </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper-container ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-wrapper">
                <ul>
                  <% @map.each do |p| %>
                    <li>
                      <a href="<%= p[:url] %>"><%= p[:name].html_safe %></a>
                      <% if !p[:children].blank? %>
                        <ul>
                          <% p[:children].each do |c| %>
                            <li><a href="<%= c[:url] %>"><%= c[:name] %></a></li>
                          <% end; %>
                        </ul>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
            </div>
          </div>