<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
 <% @map.each do |p| %>
                      <loc>http://tradeof.ru<%= p[:url] %></loc>
                      <% if !p[:children].blank? %>
                          <% p[:children].each do |c| %>
                            <loc>http://tradeof.ru<%= c[:url] %></loc>
                          <% end; %>
                      <% end %>
                  <% end %>
</urlset>