@font-face {
    font-family: "Helios";
    src: url(asset-path('fonts/HeliosRegular/HeliosRegular.eot'));
    src: url(asset-path('fonts/HeliosRegular/HeliosRegular.eot?#iefix'))format("embedded-opentype"),
    url(asset-path('fonts/HeliosRegular/HeliosRegular.woff')) format("woff"),
    url(asset-path('fonts/HeliosRegular/HeliosRegular.ttf')) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: "MyriadProRegular";
	src: url(/fonts/MyriadPro/MyriadPro-Regular.otf);
	font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: "MyriadProSemibold";
	src: url(/fonts/MyriadPro/MyriadPro-Semibold.otf);
	font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: "MyriadProBold";
	src: url(/fonts/MyriadPro/MyriadPro-Bold.otf);
	font-style: normal;
    font-weight: normal;
}

html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	/*background: url(asset-path('body_bg.jpg')) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	color: #fcfcfc;

	position: relative;
	width: 100%;
	min-height: 100%;
	padding-bottom: 160px;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover{
	text-decoration: none;
	color: #ccc;
}

p{
	margin-bottom: 20px;
	font-family: MyriadProRegular;
	font-size: 15px;
	text-align: justify;
}


img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
 
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
 
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
}
 
@media screen and (max-width: 1024px) { /* Specific to this particular image */
        img.bg {
                left: 50%;
                margin-left: -512px;   /* 50% */
        }
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.contact h2 {
	font-family: Helios;
	font-size: 35px;
	font-weight: bold;
	margin-top: 30px;
	text-shadow: -1px 2px 0px rgba(0, 1, 3, 0.35);
}


.contact p {
	/*font-family: Myriad Pro;*/
	font-family: "MyriadProRegular";
	font-size: 14px;
	margin-top: -10px;
	text-align: center;
}


.shop {
	font-family: Helios;
	font-size: 20px;
	padding-top: 15px;
}

.shop-text {
	width: 70%;
}

.shop div {
	float: left;
	text-align: left;
	line-height: 1;
}

.t_1 {color: #3bc3ff; font-family: MyriadProBold;}
.shop-text span{color: #6fdbff;padding-left: 0;}
.shop img {padding-right: 15px; margin-top: -5px;}

.button-class ul li {
  display: inline;
  padding-left: 10px;
}

.enter-button{
	background: url(asset-path('enter-button.png'));
	width: 366px;
	font-family: MyriadProRegular;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

.enter-button span {
	padding-left: 30px;
	padding-right: 30px;
}

.enter-button a{
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}



.second-row h3 {
	font-family: Myriad Pro;
	font-size: 68px;
	font-weight: bold;
	margin-top: 30px;
	text-shadow: -1px 2px 0px rgba(0, 1, 3, 0.35);
}

.second-row p {
	font-size: 40px;
	font-family: Myriad Pro;
	font-weight: bold;
	text-shadow: -1px 2px 0px rgba(0, 1, 3, 0.35);
}
.buy-block {
		text-align: center;
		margin-top: -40px;
}
.buy-block h4 {
	font-family: Myriad Pro;
	font-weight: bold;
	font-size: 40px;
	margin-top: -40px;
	text-shadow: -1px 2px 0px rgba(0, 1, 3, 0.35);
}

.buy-block p {
	font-family: MyriadProRegular;
	font-size: 18px;
	text-align: center;
}

.buy-block .img-responsive {
	margin: 0 auto;
}

.buy-button {
	background: url(asset-path('buy_button.png')) no-repeat;
	background-size: 100%;
	outline: none;
	border: none;
	width: 266px;
	height: 50px;
	margin: 0 auto;
	cursor:pointer;
	font-family: MyriadProSemibold;
	font-size: 20px;
}

.buy-button:hover {
	background: url(asset-path('buy_button_hover.png')) no-repeat;
	background-size: 100%
}

.buy-button p {
	color:#fff;
	font-family: MyriadProSemibold;
	font-size: 50px;
}

.buy-button span {
	color: #f9d266;
	font-size: 36px;
	padding-left: 0px;
}


.footer-bg {
	background: url(asset-path('footer_bg.png'));
	/*padding-bottom: 10px;*/
	position:absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}


.footer-nav li {
	float: left;
	list-style-type: none;
	padding: 9px 11px 9px 11px;
}

.copy{
	padding-right: 16px;
}

.footer-nav li.active {
    background: #0a1f37;
    border-radius: 20px;
    font-family: Myriad Pro;
    color: #fff;
    font-size: 16px;
}

.footer-nav li a {
	font-family: MyriadProRegular;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding-right: 20px;
}

.footer-nav li a:hover {
	color: #ccc;
}

.footer-copy button {
	margin-bottom: 10px;
	float: right;
	width: 158px;
	height: 38px;
	font-family: MyriadProRegular;
	font-size: 14px;
	color: #fff;
	border: none;
	border-radius: 5px;
	background: #aa3503;
	background: -moz-linear-gradient(top,  #aa3503 0%, #ca4c08 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa3503), color-stop(100%,#ca4c08));
	background: -webkit-linear-gradient(top,  #aa3503 0%,#ca4c08 100%);
	background: -o-linear-gradient(top,  #aa3503 0%,#ca4c08 100%);
	background: -ms-linear-gradient(top,  #aa3503 0%,#ca4c08 100%);
	background: linear-gradient(to bottom,  #aa3503 0%,#ca4c08 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa3503', endColorstr='#ca4c08',GradientType=0 );
}

.footer-copy button:hover {
	background: #a54624;
	background: -moz-linear-gradient(top,  #a54624 0%, #c65b25 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a54624), color-stop(100%,#c65b25));
	background: -webkit-linear-gradient(top,  #a54624 0%,#c65b25 100%);
	background: -o-linear-gradient(top,  #a54624 0%,#c65b25 100%);
	background: -ms-linear-gradient(top,  #a54624 0%,#c65b25 100%);
	background: linear-gradient(to bottom,  #a54624 0%,#c65b25 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a54624', endColorstr='#c65b25',GradientType=0 );
}

/*************SHOP.html***************/
.shop-container {
	margin-top: 25px;
}


					/*SIDEBAR*/
.sidebar {
	position: relative;
	max-width: 350px;
	font-family: Myriad Pro, Arial;
	background: url(asset-path('sidebar_bg.png'));
}

.sidebar h3 {
	font-size: 20px;
	font-style: bold;
	padding-bottom: 10px;
}

.sidebar h4 {
	display: block;
	margin: 15px auto;
	width: 285px;
	height: 42px;
	line-height: 42px;
	text-indent: 10px;
	background: url(asset-path('sidebar_button_bg.png')) no-repeat;
	border-radius: 4px;
}

.sidebar form button {
	color: #fff;
	font-family: MyriadProBold;
	font-size: 24px;
	font-weight: bold;
}

.sidebar input {
	display: block;
	cursor: pointer;
}

.sidebar input[type=image] {
	/*margin-top: 5px;*/
	width: 25px;
}

.checkbox {
	padding-left: 25px;
}

.checkbox label {
	padding-top: 13px;
}

.checkbox label:last-child {
	padding-bottom: 10px;
}

.price-slider {
	padding: 25px 20px 50px 20px;
}

.price-slider p {
	color: #4571a7;
	text-align: center;
	margin-bottom: 20px;
}

.price-slider span {
	color: #fff;
}

.carer-m {
	margin-top: 3px;
}

.sidebar form button {
	display: block;
	margin: 15px auto;
	border: none;
	outline: none;
	background: url(asset-path('search_button.png')) no-repeat center;
	/*width: 299px;*/
	width: 282px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-family: Myriad Pro, Arial;
	font-weight: bold;
	font-size: 24px;
	background-size: cover;
}

.sidebar form button:hover {
	background: url(asset-path('search_button_hover.png')) no-repeat center;
}



			/*Shop content*/
.shop-content {
	width: 74%;
}

@media screen and (max-width:1200px){
	.shop-content {
		width: 66.66666667%;
	}
}

.breadcrumbs {
	margin-top: 20px;
	height: 45px;
	margin-left: -24px;
}

.breadcrumbs ul {
	list-style: none;
}

.breadcrumbs ul li {
	float: left;
	padding-right: 10px;
}

.breadcrumbs ul li:first-child a {
	text-decoration: underline;
}

.breadcrumbs ul li a {
	color: #aeb8c2;
	font-family: MyriadProRegular;
	font-size: 12px;
}

.triangle {
	color: #fff;
	padding-right: 8px;
	padding-bottom: 20px;
	font-size: 0.7em;
}


#catalog-prod{
	font-family: Myriad Pro, Arial;
	font-size: 30px;
	font-weight: bold;
}

.how-much { 
	margin-top: 15px;
}

.how-much p {
	float: left;
	padding-right: 10px;
	color: #adb4c2;
	text-align: left;
}

.how-much ul {
	float: right;
	list-style: none;
}

.how-much ul li {
	float: left;
	padding-right: 8px;
}

.how-much ul li a {
	color: #2784b7;
}

.how-much ul li a:hover {
	text-decoration: underline;
}

.catalog-prod {
	margin-left: 0px;
}

.shop-menu {
	min-height: 42px;
	background: url(asset-path('shop_menu_bg.png'));
	margin-left: 10px;
}

.shop-menu p {
	padding-top:10px;
	margin-right: 10px;
	margin-bottom: 0;
}

.razdelitel {
	margin: 8px 0 0 0;
	width: 1px;
	height: 25px;
	background: url(asset-path('razdelitel.png'));
	float: right;
}

.btn-vision {
	padding-top: 10px;
}

.btn-left{
	width: 30px;
	height: 30px;
	background: url(asset-path('left_button.png')) no-repeat;
}

.btn-right{
	width: 30px;
	height: 30px;
	background: url(asset-path('right_button.png')) no-repeat;
}

.btn-shop button {
	margin-top: 9px;
	margin-right:10px;
	width: 90px;
	height: 23px;
	line-height: 10px;
	font-size: 15px;
	font-family: Myriad Pro, Arial;
	text-align: right;
}

.btn-sort {
	width: 180px;
}

.dropdown-menu {
	background: rgba(12,36,63,.9);
}

.dropdown-menu li a {
	color: #fff;
}

.dropdown-menu li a:hover{
	color: #fff;
	background: rgba(37,58,83,.9);
}

#goods-to-difference {
	color: #36b4ee;
	font-size: 22px;
	text-decoration: underline;
	font-weight: bold;
	line-height: 40px
}

.btn-2 button{
	width: 170px;
	text-align: left;
	font-size: 15px;
}


		/*GOODS*/
.goods {
	outline: 1xp solid red;
	margin-left: 5px;
}

.goods-block {
	margin-top: 50px;
	display: inline-table;
	float: none;
	padding-right: 0px;
	padding-left: 7px;
}


.goods-block h2 {
	font-family: Myriad Pro, Arial;
	color: #77bdff;
	/*font-size: 36px;*/
	font-size: 20px;
	font-weight: bold;
}

.goods-block p {
	font-family: MyriadProRegular;
	/*font-size: 16px;*/
	font-size: 14px;
	margin-bottom: 0px;
	text-align: left;
}

.goods-block .goods-block-name {
	height: 90px;
	display: block;
}

.goods-block .small-description {
	height: 100px;
}

.price {
	font-family: Myriad Pro, Arial;
	font-size: 18px;
}

.price{
	text-align: center;
	padding-top: 50px;
}

.price span {
	font-size: 36px;
	color: #ffd461;
	padding: 0 5px;
}

.price a {
	font-size: 12px;
	color: #ffd461;
	text-decoration: underline;
	padding-left: 5px;
	font-family: MyriadProRegular;
	font-size: 14px;
}

.buy-button2 {
	width: 144px;
	height: 36px;
	background: url(asset-path('buy_button2.png')) no-repeat;
	border: none;
	outline: none;
	float: left;
	padding-right: 5px;
	background-size: contain;
}

.fast-order-btn {
	width: 156px;
	height: 36px;
	background: url(asset-path('fast_order.png')) no-repeat;
	border: none;
	outline: none;
	float: left;
	padding-right: 0px;
	margin-top: 7px;
	background-size: contain;
}

/*.buy-button2:hover {
	background: url(asset-path('buy_button2_hover.png')) no-repeat;
}*/

.not-available {
	line-height: 36px;
}



.page-nav {
	margin-top: 20px;
	margin-left: -70px;
}

.pagination li a {
	color: #fff;
	background: none;
	border: none;
}

.to-last {
	color: #539ce0 !important;
}

.to-last:hover {
	background: none !important;
}

.razdelitel2{
	margin: 4px 0 0 4px;
	width: 1px;
	height: 25px;
	background: url(asset-path('razdelitel.png'));
	float: left;
}

.price-catalog {
	padding-top: 0;
	text-align: left;
}

.caret, .breadcrumbs span {
	padding-left: 0;
}


/*************CART.html***************/
.name-cart {
	background: url(asset-path('bg-name-cart.png')) repeat;
	width: 100%;
	height: 45px;
}
.name-cart p{
	font-size: 30px;
	padding: 5px;
}
.cart-wrapper-container{
	background: rgba(255,255,255,0.1);
}
.cart-container{
	padding: 20px 5px 10px 5px;
}
.categories{
	background: url(asset-path('bg-categories.png')) repeat;
	width: 90%;
	height: 40px;
	margin: 0 auto;
}
.categories p{
	text-align: center;
	padding-top: 10px; 
}
.item-row{
	clear: both;
}

.cart-container .line:after {
	border-bottom: none !important;
}

.line {margin:10px auto;padding:20px 0;overflow:hidden;width:90%;min-width:650px;}
.line:first-child .item {margin-top:-3px;}
.item, .item1 {
  float:left;
  position:relative;
  text-align:center;

}
.item1:after, .item:before, .item1:before {content:'';position:absolute;}
.item1:after{
  border-top:2px solid #617c97;
  top:-20px;right:20px;left:20px;height:2px;
}
.item:before, .item1:before{
  border-left:2px solid #617c97;margin-left:-3px;
  top:0;left:0;width:2px;height:150px;
}

.p-top{
	padding-top: 50px;
}

.name{
	font-size: 24px;
}
.count{
		text-align: center;
}
.count input{
	outline: none;
}
.textbox{
	width: 35px;
	height: 25px;
}

input{
	outline: none;
}
.sumarry-price{
	color: #ffd461;
	font-size: 30px;
}

.cbt{
	padding-left: 30px;
}

.sum{
	text-align: right;
	font-size: 20px;
	margin-top: 20px;
	/*margin-bottom: 120px; */
}
.sum p {
	text-align: right;
	margin-bottom: 10;
	font-famili: inherit;
	font-size: 20px;

}
.span-sum, .span-sum-off{
	font-weight: bold;
}
.summary{
	font-size: 42px;
	font-weight: bold;
	color:#ffd973;
}
.sum label, span{
	padding-left: 10px;
}
.sum ul li{
	display: inline;
	padding-left: 10px;
}
.sum ul li a{
	color:#ffd973;
	text-decoration:underline; 
}
.first-btn{
	height: 38px;
	width: 158px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background: #2f76b8;
	font-family: MyriadProBold;
	background: -moz-linear-gradient(top,  #234d89 0%, #2f76b8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#234d89), color-stop(100%,#2f76b8));
	background: -webkit-linear-gradient(top,  #234d89 0%,#2f76b8 100%);
	background: -o-linear-gradient(top,  #234d89 0%,#2f76b8 100%);
	background: -ms-linear-gradient(top,  #234d89 0%,#2f76b8 100%);
	background: linear-gradient(to bottom,  #234d89 0%,#2f76b8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#234d89', endColorstr='#2f76b8',GradientType=0 );
}
.first-btn:hover {
	background: #295799;
	background: -moz-linear-gradient(top,  #295799 0%, #3482c8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#295799), color-stop(100%,#3482c8));
	background: -webkit-linear-gradient(top,  #295799 0%,#3482c8 100%);
	background: -o-linear-gradient(top,  #295799 0%,#3482c8 100%);
	background: -ms-linear-gradient(top,  #295799 0%,#3482c8 100%);
	background: linear-gradient(to bottom,  #295799 0%,#3482c8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295799', endColorstr='#3482c8',GradientType=0 );
}
.second-btn{
	height: 38px;
	width: 158px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background:#aa3503 ;
	font-family: MyriadProBold;
	background: -moz-linear-gradient(top,  #aa3503 0%, #ca4c08 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa3503), color-stop(100%,#ca4c08));
	background: -webkit-linear-gradient(top,  #aa3503 0%,#ca4c08 100%);
	background: -o-linear-gradient(top,  #aa3503 0%,#ca4c08 100%);
	background: -ms-linear-gradient(top,  #aa3503 0%,#ca4c08 100%);
	background: linear-gradient(to bottom,  #aa3503 0%,#ca4c08 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa3503', endColorstr='#ca4c08',GradientType=0 );
}
.second-btn:hover {
	background: #a54624;
	background: -moz-linear-gradient(top,  #a54624 0%, #c65b25 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a54624), color-stop(100%,#c65b25));
	background: -webkit-linear-gradient(top,  #a54624 0%,#c65b25 100%);
	background: -o-linear-gradient(top,  #a54624 0%,#c65b25 100%);
	background: -ms-linear-gradient(top,  #a54624 0%,#c65b25 100%);
	background: linear-gradient(to bottom,  #a54624 0%,#c65b25 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a54624', endColorstr='#c65b25',GradientType=0 );
}



/**************************DETAIL******************/
.name-item {
	background: url(asset-path('bg-name-cart.png')) repeat;
	width: 100%;
	height: 45px;
}
.name-item span{
	font-size: 30px;
	padding: 5px;
}


.title-item{
	color:#fff;
	font-size: 30px;

}
.compare span a{
	font-size:16px;
	color:#f7b94e;
	text-decoration: underline;
}
.compare-item{
	font-size: 16px;
}
.compare-item span a{
	color:#f7b94e;
	font-size: 22px;
	text-decoration: underline;
}

.item-wrapper-container{
	background: rgba(255,255,255,0.1);
}

.img-item{
	margin-top: 40px;
}
.item-info{
	padding-top: 20px;

}
.item-price{
	font-size: 18px;
	font-weight: bold;
	float: left;
}
.item-price span{
	color: #ffd461;
	font-size: 36px;
}
.class-buy-button{
	float: right;
}

.not-available {
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	background: #0d2845;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	font-size: 12px;
	font-weight: bold;
}

.characters{
	margin-top: 40px;
	margin-bottom: 43px;
}
.characters h3{
	font-weight: bold;
	font-size: 18px;
}
.characters p{
	text-align: justify;
	font-size: 14px;
}

.textbox-filter {
	width: 50px !important;
	height: 26px !important;
	margin-left: 10px;
}

.price-slider-filter {
	padding: 40px 20px 5px 20px !important;
}

.price-slider-filter p {
	color: #4571a7;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 15px;
}

.price-slider-filter span {
	color: #fff;
	padding-left: 0;
	margin-left: 0;
}

input[type=radio] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}

/*****************TEXTPAGE*******************/
.uppercase{
	margin-bottom: 20px;
	text-transform: uppercase; 
}
.bold{
	font-size: 16px;
	font-weight: bold;
}

.order-wrapper-container{
	background: rgba(255,255,255,0.1);
}
.order-wrapper{
	padding: 10px;
}

.name-order {
	background: url(asset-path('bg-name-cart.png')) repeat;
	width: 100%;
	height: 45px;
}
.name-order span{
	font-size: 30px;
	padding: 5px;
}


/****************PAYMENT****************/
.shipping-and-payment{
	border-left: 1px solid rgba(255,255,255,0.3);
	padding-left: 0px;
}
.buyer{
	padding-top: 20px;
}
.buyer, .buyer-info, line{
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}
.buyer:after,.buyer-info:after,  .shipping:after, .line:after, .bottom-line:after{
	content:'';
	position:absolute;
	border-bottom:2px solid rgba(255,255,255,0.3);
    
    right:20px;
    left:20px;
    height:2px;
}
.buyer:after{
	top:45px;
}
.buyer-info:after
{
	top:399px;
}
.line:after{
	top:400px;
}
.shipping:after{
	top: 160px;
}
.bottom-line:after {
	top: 100px;
}
.buyer-info{
	padding-top: 35px;
	padding-left: 10px;
	font-size: 16px;
}
.buyer-info div{
	margin-bottom: 25px;
}
.buyer-info input, .buyer-info textarea{
	width: 400px;
	color: #000;
}

.order-info-ul ul{
	list-style: none;
	margin-left: -50px;
}
.order-info-ul ul li{
	margin-bottom: 20px;

}
.order-info-input input, textarea,.order-info-input select {
	margin-bottom: 13px;
}
.order-info-input textarea{
	height: 120px;
	resize:none;
}

.order-info-input ul {
	list-style-type: none;
}

.order-info-input ul li {
	float: left;
}

.payment,.shipping{
	font-size: 14px;
}

.shipping ul{
	margin-top: 20px;
	list-style: none;
	line-height: 30px;

}
.shipping ul li{
	margin-left: -30px;
}

.payment ul{
	margin-top: 10px;
	list-style: none;
	line-height: 30px;
}
.payment ul li{
	margin-left: -10px;
}

.order-btn ul{
	margin-top: 20px;
	margin-bottom: 40px;
	float: right;
}
.order-btn ul li{
	display: inline;
	padding-left: 10px;
}

.errors {
	color: red;
}

/******************* ORDER BTN ************************/
#fastOrderModal, #successForm, #feedbackModal, #successFormFeedback {
	color: black;
}
/******************* END ORDER BTN ********************/


.surprice-label {
	position: absolute; 
	top: -10%;
	left: 58%;
}

.first-btn, .second-btn {
	width: auto;
	font-size: 0.9vw;
}

.shop-text .t1, .shop-text p {
	font-size: 0.9vw;
}

.fast-order-item {
	width: 254px !important;
	height: 37px !important;
	background: url(asset-path('fast-order-btn.png')) !important;
	border: none !important;
}


.add-to-cart, .add-to-cart-link {
	width: 156px !important;
	height: 36px !important;
	background: url(asset-path('add-to-cart.png')) !important;
	border: none !important;
}

.card-configurator {
  background: url(asset-path('configurator-bg.png'));
}

.card-configurator h4 {
  margin-top: 32px;
}

.card-configurator .add-to-cart, .card-configurator .fast-order-btn, .card-configurator .fast-order-item {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.card-configurator .item-price {
  margin-top: 10px;
}

.card-configurator .count-field {
  width: 100px;
  float: left;
  top: -8px;
  position: relative;
  margin-right: 5px;
}

.card-configurator .item-count p {
  float: left;
  margin-right: 5px;
}


@media screen and (max-width:1024px) {
		.textbox-filter {
		width: 60px !important;
	}

	.slider-filter {
		margin-bottom: 10px;
	}


	.price-slider-filter {
		padding-top: 70px !important;
	}
	.fast-order-btn {
		margin-left: 0px;
	}

	.buy-button {
		width: 210px;
		font-size: 14px;
	}

	.index-img {
		width: 250px;
	}

		.phone-img {
		margin-top: -2% !important;
	}
}




				/*768 px*/
@media screen and (max-width:768px) {
	.logo img {
		margin: 0 auto;
	}

	.footer-copy button{
	}

	.buy-button {
		width: 180px;
		font-size: 14px;
	}

	.buy-button span {
		font-size: 20px;
	}

	.index-img {
		width: 200px;
	}
}

				/*650 px*/
@media screen and (max-width:650px) {
	.shop-text {
		margin: 0 auto;
	}
	.buy-block img {
		margin: 0 auto;
	}

	.header-image-text {
		width: 400px;
	}

	.copy {
		display: none;
	}

	/*.cart-button {
		width: 328px;
		margin: 0 auto;
		float: none;
	}*/
}

@media screen and (min-width:991px) {
	.goods-block {
		width: 24%;
	}
}

@media screen and (max-width:991px) {
	.sidebar form h4 {
		width: 180px;
		border-radius: 0 3px 3px 0;
		overflow: hidden;
	}

	.sidebar form button {
		width: 180px !important;
		border-radius: 3px;
	}

	.textbox-filter {
		width: 110px !important;
	}

	.shop-text .t1, .shop-text p {
		font-size: 14px;
	}

	.first-btn, .second-btn {
		font-size: 12px;
	}

	.phone-img {
		margin-top: -6% !important;
	}

}

@media screen and (max-width:720px) {
	body {
		width: 700px;
	}

	.textbox-filter {
		width: 60px !important;
	}

	.slider-filter {
		margin-bottom: 10px;
	}


	.price-slider-filter {
		padding-top: 70px !important;
	}

}

@media screen and (max-width:700px) {
	.sidebar { 
		width: 220px;
	}
	.shop-content{
		width: 470px;
	}

	#catalog-prod {
		font-size: 20px;
	}

	.buy-button {
		width: 160px;
		font-size: 14px;
	}

	.buy-button span {
		font-size: 20px;
	}

	.index-img {
		width: 170px;
	}
}