<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name='yandex-verification' content='7b418d0dfeba09dd' />
	<meta name="google-site-verification" content="GeHTHf7QJr68RP1hxuSdw2akxxyb0MWxxmzALrtsWWA" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <title><%= @title %></title>
  	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/css/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/css/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/css/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/css/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/css/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="/css/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/css/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <meta name="keywords" content="<%= @keywords %>" />
  <meta name="description" content="<%= @description %>" />
  
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<img src="<%= image_path('body_bg.jpg') %>" class="bg">

<div class="container">
  <!--<header>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="f-right enter-button">
        <a href="#" >Вход</a>
        <span>|</span>
        <a href="#">Регистрация</a>
      </div>
    </div>
  </header>-->
  <!-- First ROW -->
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4col-lg-4 logo">
      <a href='/'><img class="img-responsive" src="<%= image_path('logo.png') %>" alt="logo" class="logo"></a>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  contact text-center">
      <h2>
          <a href="tel:84951511833">
            <img class="img-responsive phone-img" src="<%= image_path('header-phone-top.png')%>" style="margin: 0% auto; margin-bottom: 2%;">
          </a>
          <a href="tel:88002347344">
            <img class="img-responsive phone-img" src="<%= image_path('header-phone-bottom.png')%>" style="margin: 0% auto; margin-bottom: 10%;">
          </a>
      </h2>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  shop text-right">
  

      <div class="shop-text">
      <img class="pull-left img-responsive" src="<%= image_path('cart_shop.png') %>" alt="shop icon"> 
        <p class="t_1" style="cursor: pointer" onclick="window.location.href='/cart'">Ваша корзина:<p>
        <p><span id="cart_items_count">
          <% total_items = 0 %>
          <% if !session[:cart].blank? %>
            <% session[:cart].each do |i| %>
              <% total_items = total_items + i[1].to_i %>
            <% end %>
          <% end %>
          <%= total_items %>
        </span> товаров на <span>
          <% full_price = 0 %>
          <% if !session[:cart].blank? %>
            <% session[:cart].each do |i| %>
              <% 
                item_id = i[0].split('_')[0]
                item_params =  i[0].split('_');
              %>
              <%
                if item_params[1] == 'Complect' || item_params[1] == 'Hardware'
                  if item_params[1] == 'Complect'
                    item_info = Complect.where(id: item_id).first
                  else
                    item_info = Hardware.where(id: item_id).first
                  end
                    full_price = full_price + item_info.price.to_i*i[1].to_i 
                else
                    item_info = FilterItems.where(id: item_id).first 
                    full_price = full_price + FilterConfiguration.where("adapter_type = ? AND height = ? AND rate = ? AND filter_items_id = ?", item_params[1], item_params[2], item_params[3], item_params[0])[0].price*i[1].to_i 
                end
              %>
            <% end %>
          <% end %>
          <%= full_price %>
        </span> руб</p>
      </div>
      <% if !session[:cart].blank? %>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="f-right button-class cart-button">
              <ul style="padding-left:0">
                <li>
                    <button class="first-btn" onClick="window.location.href='/payment'">Оформить заказ</button>
                </li>
                <li class="hidden-xs">
                    <button class="second-btn order-popup" data-toggle="modal" data-target="#fastOrderModal">Быстрый заказ</button>
               </ul>
            </div>
          </div>
      <% end %>
    </div>

  </div>



<% if action_name == 'index' || action_name == 'cart' || action_name == 'textpage' || action_name == 'faq' || action_name == 'payment' || action_name == 'payment_juri' || action_name == 'success' || action_name == 'fail' || action_name == 'sitemap' || action_name == 'filter' || action_name == 'complect_details' || action_name == 'hardware_details'%>
  <%= yield %>
</div> 
<% else %>
</div>
  <%= yield %>
<% end %>
  <!-- Container END -->

  <!-- Footer -->
<div class="container-fluid footer-bg navbar-bottom">
  <div class="container">
    <div class="row">

      <!--<br />-->
      <br />

      <div class="col-xs-12 col-lg-8">
        <ul class="footer-nav">
            <% @menu_items.each do |i| %>
              <% if request.path == i.url %>
                <li class="active"><%= i.name %></li>
              <% else %>
                <li><a href="<%= i.url %>"><%= i.name %></a></li>
              <% end %>   
          	<% end %>
        </ul>
      </div>

      <div class="col-xs-12 col-lg-4 footer-copy">
        <button onClick="" data-toggle="modal" data-target="#feedbackModal">Обратная связь</button>
      </div>
      <div class="copy">
        <p class="f-right">Copyright 2015. Все права защищены.</p>
      </div>
    </div>
  </div>
</div>
<!-- POPUPS -->
<div class="modal fade" id="successForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Быстрый заказ</h4>
      </div>
      <div class="modal-body">
        <p>Ваша заявка принята. С вами свяжется наш менеджер.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="successFormFeedback">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Обратная связь</h4>
      </div>
      <div class="modal-body">
        <p>Спасибо за ваше сообщение.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="fastOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Быстрый заказ</h4>
      </div>
      <div class="modal-body">
        <% if @getcall.errors.any? %>
          <ul class="errors">
            <% @getcall.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for @getcall, url: '', method: :post, :html => { :id => 'fastOrderForm'} do |f| %>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Ваше имя:</label>
            <%= f.text_field :name, :class => "form-control" %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Телефон:</label>
            <%= f.text_field :phone, :class => "form-control" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="$('#fastOrderForm').submit();">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Обратная связь</h4>
      </div>
      <div class="modal-body">
        <% if @feedback.errors.any? %>
          <ul class="errors">
            <% @feedback.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for @feedback, url: '', method: :post, :html => { :id => 'feedbackForm'} do |f| %>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Ваше имя:</label>
            <%= f.text_field :name, :class => "form-control" %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Телефон:</label>
            <%= f.text_field :email, :class => "form-control" %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Сообщение:</label>
            <%= text_area :feedback, :message, :class => "form-control" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="$('#feedbackForm').submit();">OK</button>
      </div>
    </div>
  </div>
</div>

<% if params[:getcall] &&  @getcall.errors.any? %>
  <script type="text/javascript">
    $(document).ready(function(){
        $('#fastOrderModal').modal();
    })
  </script>
<% end %>
<% if params[:getcall] &&  !@getcall.errors.any? %>
  <script type="text/javascript">
      $(document).ready(function(){
        $('#successForm').modal();
      })
  </script>
<% end %>

<% if params[:feedback] &&  @feedback.errors.any? %>
  <script type="text/javascript">
    $(document).ready(function(){
        $('#feedbackModal').modal();
    })
  </script>
<% end %>
<% if params[:feedback] &&  !@feedback.errors.any? %>
  <script type="text/javascript">
      $(document).ready(function(){
        $('#successFormFeedback').modal();
      })
  </script>
<% end %>
<!-- ENDPOPUPS -->
<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter31069721 = new Ya.Metrika({ id:31069721, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><!-- /Yandex.Metrika counter -->

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67054741-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W48JN8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W48JN8');</script>
<!-- End Google Tag Manager -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68202479-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'MVdUpmCUCG';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
